
Scuba Expeditions/.vs/Scuba Expeditions/v16/.suo
Scuba Expeditions/.vs/Scuba Expeditions/v16/Server/sqlite3/db.lock
Scuba Expeditions/.vs/Scuba Expeditions/v16/Server/sqlite3/storage.ide
Scuba Expeditions/.vs/Scuba Expeditions/v16/Server/sqlite3/storage.ide-shm
Scuba Expeditions/.vs/Scuba Expeditions/v16/Server/sqlite3/storage.ide-wal
Scuba Expeditions/Scuba Expeditions/bin/Debug/Scuba Expeditions.exe
Scuba Expeditions/Scuba Expeditions/bin/Debug/Scuba Expeditions.exe.config
Scuba Expeditions/Scuba Expeditions/bin/Debug/Scuba Expeditions.pdb
Scuba Expeditions/Scuba Expeditions/bin/Debug/Scuba Expeditions.xml
Scuba Expeditions/Scuba Expeditions/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Scuba Expeditions/Scuba Expeditions/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Scuba Expeditions/Scuba Expeditions/obj/Debug/Scuba Expeditions.exe
Scuba Expeditions/Scuba Expeditions/obj/Debug/Scuba Expeditions.pdb
Scuba Expeditions/Scuba Expeditions/obj/Debug/Scuba Expeditions.vbproj.CoreCompileInputs.cache
Scuba Expeditions/Scuba Expeditions/obj/Debug/Scuba Expeditions.vbproj.FileListAbsolute.txt
Scuba Expeditions/Scuba Expeditions/obj/Debug/Scuba Expeditions.vbproj.GenerateResource.cache
Scuba Expeditions/Scuba Expeditions/obj/Debug/Scuba Expeditions.vbprojAssemblyReference.cache
Scuba Expeditions/Scuba Expeditions/obj/Debug/Scuba Expeditions.xml
Scuba Expeditions/Scuba Expeditions/obj/Debug/Scuba_Expeditions.frmScuba.resources
Scuba Expeditions/Scuba Expeditions/obj/Debug/Scuba_Expeditions.Resources.resources
Scuba Expeditions/Scuba Expeditions/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Scuba Expeditions/Scuba Expeditions/obj/Debug/Scuba_Expeditions.SplashScreen1.resources